.button {
	display: inline-block;
	background-color: var(--button-color);
	color: var(--button-text-color);
	text-decoration: none;
	border-radius: .3em;
	padding: .8em 4em;
	&:hover {
		background-color: var(--button-hover-color);
	}
	&:focus {
		outline: none;
		box-shadow: 0 0 0 2px var(--background-color), 0 0 0 4px var(--button-color);
	}
	&-link {
		background-color: var(--background-color);
		color: var(--text-color);
		padding-inline: .8em;
	}
	&-link:hover {
		--button-hover-color: #f2f2f2;
	}
	&-link:focus {
		outline: none;
	}
}

button.button {
	font-size: inherit;
	border: 0;
}
