.showcase {
	--background-color: #4c7cb2; // blue grey
	--hover-color: #c8d8e9; // light ice blue
	--text-color: #ffffff;
	background-color: var(--background-color);
	color: var(--text-color);
	&__text {
		--text-color: #a3bdd9; // ice blue
		color: var(--text-color);
	}
}
